<div class="profile-info">
    <div class="profile-row">
    <p class="profile-title">Your Profile</p>

    {{!-- buttons --}}
        <button id="delete-button-profile">Delete</button>
    </div>

    {{!-- info --}}
    <p>render status: {{renderStatus}}</p>
    <div class="profile-column">
        <div class="profile-row">
            <div>user name:</div><div id="userName">{{data.username}}</div>
        </div>
        <div class="profile-row">
            <div>user mail:</div><div id="userMail">{{data.email}}</div>
        </div>
        <div class="profile-row">
            <div>user status:</div><div id="userStatus">{{data.status}}</div>
        </div>
        <div class="profile-column">
            <p class="profile-subtitle">user statistic:</p>
            {{#each gamesInfo}}
            <div class="profile-row">
                <div>game name:</div><div id="gameName{{id}}">{{this.name}}</div>
            </div>
            <div class="profile-row">
                <div>level:</div><div id="level{{id}}">{{this.level}}</div>
            </div>
            <div class="profile-row">
                <div>score:</div><div id="score{{id}}">{{this.score}}</div>
            </div>
            <div class="profile-row">
                <div>won:</div><div id="won{{id}}">{{this.won}}</div>
            </div>
            {{/each}}
        </div>
    </div>
</div>