<div id="profile-info">
    <p>Your Profile</p>

    {{!-- buttons --}}
    <div>
        <button id="deleteButton">Delete</button>
    </div>

    {{!-- info --}}
    <div>
        <div>
            <div>user name:</div><div id="userName">{{"..."}}</div>
        </div>
        <div>
            <div>user mail:</div><div id="userMail">{{"..."}}</div>
        </div>
        <div>
            <div>user mail:</div><div id="userStatus">{{"..."}}</div>
        </div>
        <div>
            <div>user status:</div><div id="userStatus">{{"..."}}</div>
        </div>
        <div>
            <div>user statistic:</div>
            <div id="userStatistic">
                <div>game name:</div><div id="gameName">...</div>
                <div>level</div><div id="level">...</div>
                <div>score</div><div id="score">...</div>
                <div>won</div><div id="won">...</div>
                {{!-- <button>Open chat history</button> --}}

                {{!-- Dialog window/toggle list --}}
                {{!-- <div>
                    <div>Messages</div>
                    <div>
                        <div>{{"timestamp"}}</div>
                        <div>{{"sender"}}</div>
                        <div>{{"content"}}</div>
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
</div>