<div id="profile-info">
    <p className="profile-title">Your Profile</p>

    {{!-- buttons --}}
    <div>
        <button id="delete-button-profile">Delete</button>
    </div>

    {{!-- info --}}
    <div className="profile-column">
        <div className="profile-row">
            <div>user name:</div><div id="userName">{{userInfo.username}}</div>
        </div>
        <div className="profile-row">
            <div>user mail:</div><div id="userMail">{{userInfo.email}}</div>
        </div>
        <div className="profile-row">
            <div>user status:</div><div id="userStatus">{{userInfo.status}}</div>
        </div>
        <div className="profile-column">
            <p className="profile-subtitle">user statistic:</p>
            {{#each gamesInfo}}
            <div id="userStatistic">
                <div className="profile-row">
                    <div>game name:</div><div id="gameName{{id}}">{{name}}</div>
                </div>
                <div className="profile-row">
                    <div>level:</div><div id="level{{id}}">{{level}}</div>
                </div>
                <div className="profile-row">
                    <div>score:</div><div id="score{{id}}">{{score}}</div>
                </div>
                <div className="profile-row">
                    <div>won:</div><div id="won{{id}}">{{won}}</div>
                </div>
            </div>
        </div>
    </div>
</div>